@import url('https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: black;
}

.rv-xy-plot__series--label {
  fill: white;
}


.sunburst-viz .text-contour {
  stroke: none !important;
}

.sunburst-viz text {
  font-weight: 600 !important;
  fill: #fff !important;
}